In [1]:
import pandas as pd
import pickle
import warnings
warnings.filterwarnings('ignore')

import text_processor as tp

In [2]:
df = pd.read_csv('datasets/amazon_reviews/Datafiniti_Amazon_Consumer_Reviews_of_Amazon_Products.csv')

In [3]:
df.head()

,id,dateAdded,dateUpdated,name,asins,brand,categories,primaryCategories,imageURLs,keys,...,reviews.dateSeen,reviews.doRecommend,reviews.id,reviews.numHelpful,reviews.rating,reviews.sourceURLs,reviews.text,reviews.title,reviews.username,sourceURLs
0,AVqVGZNvQMlgsOJE6eUY,2017-03-03T16:56:05Z,2018-10-25T16:36:31Z,"Amazon Kindle E-Reader 6"" Wifi (8th Generation...",B00ZV9PXP2,Amazon,"Computers,Electronics Features,Tablets,Electro...",Electronics,https://pisces.bbystatic.com/image2/BestBuy_US...,allnewkindleereaderblack6glarefreetouchscreend...,...,"2018-05-27T00:00:00Z,2017-09-18T00:00:00Z,2017...",False,NaN,0,3,http://reviews.bestbuy.com/3545/5442403/review...,I thought it would be as big as small paper bu...,Too small,llyyue,https://www.newegg.com/Product/Product.aspx%25...
1,AVqVGZNvQMlgsOJE6eUY,2017-03-03T16:56:05Z,2018-10-25T16:36:31Z,"Amazon Kindle E-Reader 6"" Wifi (8th Generation...",B00ZV9PXP2,Amazon,"Computers,Electronics Features,Tablets,Electro...",Electronics,https://pisces.bbystatic.com/image2/BestBuy_US...,allnewkindleereaderblack6glarefreetouchscreend...,...,"2018-05-27T00:00:00Z,2017-07-07T00:00:00Z,2017...",True,NaN,0,5,http://reviews.bestbuy.com/3545/5442403/review...,This kindle is light and easy to use especiall...,Great light reader. Easy to use at the beach,Charmi,https://www.newegg.com/Product/Product.aspx%25...
2,AVqVGZNvQMlgsOJE6eUY,2017-03-03T16:56:05Z,2018-10-25T16:36:31Z,"Amazon Kindle E-Reader 6"" Wifi (8th Generation...",B00ZV9PXP2,Amazon,"Computers,Electronics Features,Tablets,Electro...",Electronics,https://pisces.bbystatic.com/image2/BestBuy_US...,allnewkindleereaderblack6glarefreetouchscreend...,...,2018-05-27T00:00:00Z,True,NaN,0,4,https://reviews.bestbuy.com/3545/5442403/revie...,Didnt know how much i'd use a kindle so went f...,Great for the price,johnnyjojojo,https://www.newegg.com/Product/Product.aspx%25...
3,AVqVGZNvQMlgsOJE6eUY,2017-03-03T16:56:05Z,2018-10-25T16:36:31Z,"Amazon Kindle E-Reader 6"" Wifi (8th Generation...",B00ZV9PXP2,Amazon,"Computers,Electronics Features,Tablets,Electro...",Electronics,https://pisces.bbystatic.com/image2/BestBuy_US...,allnewkindleereaderblack6glarefreetouchscreend...,...,2018-10-09T00:00:00Z,True,177283626.0,3,5,https://redsky.target.com/groot-domain-api/v1/...,I am 100 happy with my purchase. I caught it o...,A Great Buy,Kdperry,https://www.newegg.com/Product/Product.aspx%25...
4,AVqVGZNvQMlgsOJE6eUY,2017-03-03T16:56:05Z,2018-10-25T16:36:31Z,"Amazon Kindle E-Reader 6"" Wifi (8th Generation...",B00ZV9PXP2,Amazon,"Computers,Electronics Features,Tablets,Electro...",Electronics,https://pisces.bbystatic.com/image2/BestBuy_US...,allnewkindleereaderblack6glarefreetouchscreend...,...,2018-05-27T00:00:00Z,True,NaN,0,5,https://reviews.bestbuy.com/3545/5442403/revie...,Solid entry level Kindle. Great for kids. Gift...,Solid entry-level Kindle. Great for kids,Johnnyblack,https://www.newegg.com/Product/Product.aspx%25...

In [8]:
def process_df(df):
    """
    Filters the dataframe and creates dataframe which contains 
    the fields [reviews.text, reviews.rating, sentiment]
    Rating below 3 and above 3 are taken as negative and positive respectively
    """
    df1 = df[['reviews.text','reviews.rating']]
    df1_filtered = df1[df1['reviews.rating'] != 3]    
    sentiment_dict = {1:0, 2:0, 4:1, 5:1}    
    df1_filtered['sentiment'] = df1_filtered['reviews.rating'].map(sentiment_dict)
    return df1_filtered

In [9]:
df1 = process_df(df)

In [10]:
df1.head()

,reviews.text,reviews.rating,sentiment
1,This kindle is light and easy to use especiall...,5,1
2,Didnt know how much i'd use a kindle so went f...,4,1
3,I am 100 happy with my purchase. I caught it o...,5,1
4,Solid entry level Kindle. Great for kids. Gift...,5,1
5,This make an excellent ebook reader. Don't exp...,5,1

### Find the count of reviews in each sentiment category

In [11]:
df1.groupby(df1['sentiment']).count()

           reviews.text  reviews.rating  sentiment
sentiment
0                   117             117        117
1                  4686            4686       4686

### Data is imbalanced so load and add more data in negative reivew category

In [12]:
df = pd.read_csv('datasets/amazon_reviews/Datafiniti_Amazon_Consumer_Reviews_of_Amazon_Products_May19.csv')

In [14]:
df2 = process_df(df)

In [15]:
df2.head()

,reviews.text,reviews.rating,sentiment
1,Bulk is always the less expensive way to go fo...,4,1
2,Well they are not Duracell but for the price i...,5,1
3,Seem to work as well as name brand batteries a...,5,1
4,These batteries are very long lasting the pric...,5,1
5,Bought a lot of batteries for Christmas and th...,5,1

In [16]:
df2.groupby(df2['sentiment']).count()

           reviews.text  reviews.rating  sentiment
sentiment
0                  1581            1581       1581
1                 25545           25545      25545

### Only negative reviews are required, so  take only negative reviews

In [17]:
df2 = df2[df2['sentiment'] == 0]

In [18]:
df2.count()

reviews.text      1581
reviews.rating    1581
sentiment         1581
dtype: int64

### Load more data

In [19]:
df = pd.read_csv('datasets/amazon_reviews/1429_1.csv')

In [20]:
df3 = process_df(df)

In [21]:
df3.head()

,reviews.text,reviews.rating,sentiment
0,This product so far has not disappointed. My c...,5.0,1.0
1,great for beginner or experienced person. Boug...,5.0,1.0
2,Inexpensive tablet for him to use and learn on...,5.0,1.0
3,I've had my Fire HD 8 two weeks now and I love...,4.0,1.0
4,I bought this for my grand daughter when she c...,5.0,1.0

In [22]:
df3.groupby(df3['sentiment']).count()

           reviews.text  reviews.rating  sentiment
sentiment
0.0                 812             812        812
1.0               32315           32316      32316

### Get the negative reviews

In [23]:
df3 = df3[df3['sentiment'] == 0]

In [24]:
df3.count()

reviews.text      812
reviews.rating    812
sentiment         812
dtype: int64

### Concatenate all the dataframes

In [25]:
df_list = [df1, df2, df3]

In [26]:
data_set = pd.concat(df_list)

In [27]:
data_set.count()

reviews.text      7196
reviews.rating    7196
sentiment         7196
dtype: int64

In [28]:
data_set = data_set.rename(columns={'reviews.text':'content','reviews.rating':'rating'})

In [29]:
data_set.count()

content      7196
rating       7196
sentiment    7196
dtype: int64

In [30]:
data_set.groupby(data_set['sentiment']).count()

           content  rating
sentiment
0.0           2510    2510
1.0           4686    4686

In [31]:
data_set.head()

                                             content  rating  sentiment
1  This kindle is light and easy to use especiall...     5.0        1.0
2  Didnt know how much i'd use a kindle so went f...     4.0        1.0
3  I am 100 happy with my purchase. I caught it o...     5.0        1.0
4  Solid entry level Kindle. Great for kids. Gift...     5.0        1.0
5  This make an excellent ebook reader. Don't exp...     5.0        1.0

###  Load complaints dataset

In [32]:
complaints_df = pd.read_csv('datasets/amazon_reviews/headset_reivews.csv')

In [33]:
complaints_df.head()

,ReviewTitle,ReviewBody,ReviewStar,Product
0,Honest review of an edm music lover\n,No doubt it has a great bass and to a great ex...,3,boAt Rockerz 255
1,Unreliable earphones with high cost\n,"This earphones are unreliable, i bought it be...",1,boAt Rockerz 255
2,Really good and durable.\n,"i bought itfor 999,I purchased it second time,...",4,boAt Rockerz 255
3,stopped working in just 14 days\n,Its sound quality is adorable. overall it was ...,1,boAt Rockerz 255
4,Just Awesome Wireless Headphone under 1000...ðŸ˜‰\n,Its Awesome... Good sound quality & 8-9 hrs ba...,5,boAt Rockerz 255

### Reviews having rating less than 3 are taken as complaints

In [34]:
complaints_df = complaints_df[complaints_df['ReviewStar'] < 3]

In [35]:
complaints_df = complaints_df.drop(['ReviewTitle', 'Product'], axis=1)

In [36]:
complaints_df = complaints_df.rename(columns={'ReviewBody':'content','ReviewStar':'rating'})

In [37]:
complaints_df.head()

                                              content  rating
1   This  earphones are unreliable, i bought it be...       1
3   Its sound quality is adorable. overall it was ...       1
5   After 11 days, the charging port isn't working...       1
9   The product durability is 1 month..I just lost...       1
11  What on earth is the use of buying such produc...       1

In [38]:
# sentiment = 2 indicates the category complaints
complaints_df['sentiment'] = 2

In [39]:
complaints_df.head()

                                              content  rating  sentiment
1   This  earphones are unreliable, i bought it be...       1          2
3   Its sound quality is adorable. overall it was ...       1          2
5   After 11 days, the charging port isn't working...       1          2
9   The product durability is 1 month..I just lost...       1          2
11  What on earth is the use of buying such produc...       1          2

In [40]:
data_set.shape

(7196, 3)

In [41]:
complaints_df.shape

(3432, 3)

### Append complaints_df to data_set

In [42]:
data_set = data_set.append(complaints_df, ignore_index=True)

In [43]:
data_set.shape

(10628, 3)

In [44]:
data_set.groupby(data_set['sentiment']).count()

           content  rating
sentiment
0.0           2510    2510
1.0           4686    4686
2.0           3432    3432

In [45]:
# save the dataset
with open('pickles/amazon/data_set.pickle', 'wb') as data:
    pickle.dump(data_set, data)